/* ページ全体 */
.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1512px;
}

/* ページタイトル */
.confirm__heading {
    margin-bottom: 50px;
}

.confirm__heading h2 {
    text-align: center;
    color: #8B7969;
    font-weight: 300;
    font-size: 35px;
}

/* テーブル全体 */
.form {
    margin: 0 auto;
    width: 60%;
    text-align: left;
}

.confirm-table {
    border: 1px solid #E0DFDE;
}

.confirm-table__inner {
    width: 100%;
}

/* テーブルヘッダー */
.confirm-table__header {
    padding: 20px 50px;
    width: 30%;
    background-color: #BAA899;
    border-bottom: 1px solid #E0DFDE;
    font-weight: 100;
    font-size: 18px;
    color: #fff;
}

/* テーブルテキスト */
.confirm-table__text {
    padding: 20px 40px;
    border-bottom: 1px solid #E0DFDE;
}

.confirm-table__text input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    color: #8B7969;
}

.confirm-table__text textarea {
    width: 100%;
    height: 60px;
    outline: none;
    border: none;
    color: #8B7969;
    resize: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom: none;
}

/* ボタン全体 */
.form__button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    padding-left: 50%;
}

/* 送信ボタン */
.form__button-submit {
    margin-right: 3px;
    padding: 10px;
    width: 120px;
    height: 45px;
    background: #82756A;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transform: translateX(-50%);
}

/* 修正ボタン */
.form__button-edit {
    font-size: 20px;
    color: #8B7969;
    cursor: pointer;
}